<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>querySystem</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>infoBeanClServlet</servlet-name>
    <servlet-class>com.servlet.infoBeanClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginClServlet</servlet-name>
    <servlet-class>com.servlet.loginClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>chooseStoreServlet</servlet-name>
    <servlet-class>com.servlet.chooseStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>resultServlet</servlet-name>
    <servlet-class>com.servlet.resultServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>infoBeanClServlet</servlet-name>
    <url-pattern>/infoBeanClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginClServlet</servlet-name>
    <url-pattern>/loginClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chooseStoreServlet</servlet-name>
    <url-pattern>/chooseStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resultServlet</servlet-name>
    <url-pattern>/resultServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>